<!--

There are two main roles RXJS has played in Angular application. 1) to coordinating asynchronous events, especially when dealing with race conditions and handling complex
asynchronous data flows. And as a basic reactive building block. This second thing is what Signals are coming for. To provide an alternative to RXJS as the primary basic reactive
building block in Angular.

WHY?
- Up to this point Angular is already integrated with RXJS and Behavior Subjects offer the same basic functionality as Signals. So why introduce Signals?
- Signals offer multiple way options to simplify reactive programming with less code and easier learning curve.



-->
